# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/amica/
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# Plugins without composer management
!web/app/plugins/acfml
!web/app/plugins/gravityforms*
!web/app/plugins/sitepress*
!web/app/plugins/wpml*
!web/app/plugins/wp-all-import-pro

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
